body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
}

input[type="url"] {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3c82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

#linksContainer {
  margin-top: 30px;
  text-align: right;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e3f2fd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
